<a href="/">Home</a>
<h1>All Shelters:</h1>
<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %></p>
  <p> <%= shelter.state %> <%= shelter.zip%></p>
<% end %>
<br>
<a href="/shelters/new">New Shelter</a>
