<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %> <%= @shelter.city %></p>
<p> <%= @shelter.state %> <%= @shelter.zip%></p>
<a href='/shelters/<%= @shelter.id %>/pets'>Available Pets</a><br>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
